html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	min-height: 100%;
	overflow: hidden;
	cursor: pointer;
}

.first {
	color: blue;
	font-weight: bold;
}

.second {
	color: blue;
	font-weight: bold;
}
